{{title model.title}}

<article>
  <h1>{{model.title}}</h1>
  {{post-body mobiledoc=model.mobiledoc tagName='' cardNames=(list 'youtube' 'photo' 'ticket' 'calendar') atomNames=(list 'line-break')}}
</article>
